<!doctype html>
<html lang="en">

<head>
    <title>MustaCHE | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/loader.css"/>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet"> 
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
        
</head>

<body class="layout-fullwidth">
    
    <div id="loading">
        <div id="loader">
        <div class="sk-cube-grid">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
        </div>
    </div>
    
    <!-- WRAPPER -->
    <div id="wrapper">
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header hidden">
                <h5 class="modal-title" id="exampleModalLongTitle">Chart Title</h5>
              </div>
              <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3>Chart goes here!</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        

        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid text-center">
                <div class="navbar-btn col">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-menu"></i></button>
                </div>
                <div class="branding">
                    <h1 class="text-center">M<span>usta</span>CHE</h1>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-warning"></span>
							</a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                                <li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span></span> <i class="lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Basic Use</a></li>
                                <li><a href="#">Working With Data</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Troubleshooting</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="index.html"><i class="lnr lnr-chart-bars"></i> <span>Datasets</span></a></li>
                        <li><a href="index.html"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                    </ul>
                </nav>
            </div>
            <div style="position: absolute; bottom:0;">
                <a href=""><img src="assets/img/UA-COLOUR-REVERSE.eps" class="side-logo-uofa"></a>
                <a href=""><img src="assets/img/jcu-logo.png" class="side-logo-jcu"></a>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main pad-l pad-r">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
       
                    <div class="row">
                        <!-- START DENDOGRAM -->
                        <div class="col-xs-12 nopadding">
                            <div class="panel nopadding" id="dendogram-panel">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Dendogram</h1>
                                    <div class="right">
                                        <li class="dropdown panel-options">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-cog"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Basic Use</a></li>
                                                <li><a href="#">Working With Data</a></li>
                                                <li><a href="#">Security</a></li>
                                                <li><a href="#">Troubleshooting</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="panel-body" id="panel1">
                                        
                                        <div>
                                            <div id="chart-dendrogram">
                                            </div>
                                            <input id="slider" type="range" value="50" class="hidden">
                                        </div>
                                    
                                </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <p>FOSC
                                            <input type="radio" name="radio" value="fosc" disabled>
                                            </p>
                                        </div>

                                        <div class="col-sm-4 text-center">
                                            <p>Threshold Bar
                                            <input type="radio" name="radio" value="bar" checked>
                                          </p>
                                        </div>

                                        <div class="col-sm-4 text-center">
                                            <p>Manual Selection
                                            <input type="radio" name="radio" value="manual">
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END DENDOGRAM -->
                    </div>
                    
                    <div class="row pad-t">
                        <!-- START HAI-->
                        <div class="col-xs-3 nopadding">
                            <div class="panel nopadding" id="hai-panel">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Hai Plot</h1>
                                    <div class="right">
                                        <li class="dropdown panel-options">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-cog"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <l1>
                                                    <div class="options-value">
                                                    <span>Line Width</span><input type="number">
                                                    <input id="line-width" type="range" min="1" max="5" step="1"/>
                                                    </div>
                                                </l1>
                                                <li><a href="#" id="downloader">Screenshot</a></li>
                                                <li><a href="#">Working With Data</a></li>
                                                <li><a href="#">Security</a></li>
                                                <li><a href="#">Troubleshooting</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row nopadding">
                                    <div id="hai-plot">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div id="hai-legend"></div>
                                </div>
                            </div>
                        </div>
                        <!-- END HAI -->
                        
                        <!-- START REACHABILLITY -->
                        <div class="col-xs-9 nopadding pad-l">
                            <div class="panel nopadding" id="reach-panel">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Reachabillity Plots</h1>
                                    <div class="right">
                                        <li class="dropdown panel-options">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-cog"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" id="downloader">Screenshot</a></li>
                                                <li><a href="#">Working With Data</a></li>
                                                <li><a href="#">Security</a></li>
                                                <li><a href="#">Troubleshooting</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                                <div class="panel-body nopadding">
                                    <div class="container-fluid nopadding grouper">
                                        <div class="row nopadding" id="reach-plot">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- END REACHABILLITY -->
                    </div>

                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix hidden"></div>
        <footer>
            <div class="container-fluid hidden">
                <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-drag.v1.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
    <script src="assets/js/layout.js"></script>
    <script type="text/javascript" src="assets/js/myplots.js"></script>

</body>

</html>
