<!doctype html>
<html lang="en">

<head>
    <title>MustaCHE | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" /> {% assets "dashboard_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='icon/safari-pinned-tab.svg') }}" color="#097b43">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#097b43">
    <meta name="msapplication-config" content="{{ url_for('static', filename='icon/browserconfig.xml') }}">
    <meta name="theme-color" content="#097b43">


    <style>
        .selection {
            border-radius: 10px;
        }

        .overlay {
            fill: none;
            pointer-events: all;
        }

        .highlight circle {
            fill: steelblue;
            stroke: steelblue;
        }


        .bar {
            fill: blue;
        }

        .bar:hover {
            fill: #ec008c;
            opacity: 1;
        }

        .zoom {
            cursor: move;
            fill: none;
            pointer-events: all;
        }

        html {
            height: 100%;
        }

        .modal {
            text-align: center;
            padding: 0 !important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>

</head>

<body class="layout-default">

    <div id="loading">
        <div id="loader">
            <object data="{{ url_for('static', filename='img/Mustache_Logo_SVG.svg') }}" type="image/svg+xml" class="animated swing infinite loader-logo"></object>
        </div>
    </div>

    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- ABOUT MODAL -->
        <div id="about">
            <div class="modal fade" id="about-modal">
                <div class="modal-dialog modal-lg modal-xl">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">About</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="{{ url_for('static', filename='img/Mustache_Logo_SVG_black.svg') }}" class="about-logo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center branding about-header">
                                    <h1 class="brand-block text-center">
                                        MustaCHE</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Multiple Clustering Hierarchies Explorer</h3>
                                    <small>Version: 1.0.0 | August 2018</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-centered">
                                    <br>
                                    <a class="btn btn-default col-xs-12" href="https://github.com/antoniocavalcante/mustache" target="blank">
                                        <span class="ti-github pull-left"></span> Github | Source
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-centered">
                                    <br>
                                    <p class="text-center">
                                        MustaCHE, a tool that allows analysis and exploration of multiple clustering hierarchies (w.r.t. a set of mpts values) in
                                        an interactive and visual manner. Its main overall goals are to assist the user to
                                        (1) (visually) find “good” valuesfor mpts and (2) to understand which cluster structures
                                        arepresent w.r.t. different density parameters in the data.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-md-10 well well-sm col-md-offset-1">
                                    <div class="col-md-12 text-center">
                                        <h3 class="nopadding-t">Publications</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li>
                                                <a href="#" target="blank">
                                                    <small>MustaCHE: A Multiple Clustering Hierarchies Explorer.</small>
                                                    <em>
                                                        <small>Antônio C. Araújo Neto, Mario A. Nascimento, Jörg Sander,
                                                            Ricardo J. G. B. Campello:</small>
                                                    </em>
                                                    <small> PVLDB 11(12): 2058-2061 (2018)
                                                    </small>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="blank">
                                                    <small>Efficient Computation of Multiple Density-Based Clustering Hierarchies.</small>
                                                    <em>
                                                        <small>Antonio Cavalcante Araújo Neto, Jörg Sander, Ricardo J. G.
                                                            B. Campello, Mario A. Nascimento:</small>
                                                    </em>
                                                    <small>
                                                        ICDM 2017</small>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="blank">

                                                    <small>Hierarchical Density Estimates for Data Clustering, Visualization,
                                                        and Outlier Detection.</small>
                                                    <em>
                                                        <small>Ricardo J. G. B. Campello, Davoud Moulavi, Arthur Zimek, Jörg
                                                            Sander:
                                                        </small>
                                                    </em>
                                                    <small> TKDD 10(1): 5:1-5:51 (2015)</small>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="col-md-4 text-center">
                                        <a href="#" target="blank">
                                            <em>Paper1</em>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="#" target="blank">
                                                <em><small>Antônio C. Araújo Neto, Mario A. Nascimento, Jörg Sander, Ricardo J. G. B. Campello:</small></em>
                                                <small>MustaCHE: A Multiple Clustering Hierarchies Explorer. PVLDB 11(12): 2058-2061 (2018)</small>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="#" target="blank">
                                            <em>Paper3</em>
                                        </a>
                                    </div> -->
                                </div>
                                <br>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-md-12 text-center">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="http://webdocs.cs.ualberta.ca/~cavalcan" target="blank">
                                                <strong>Antonio Cavalcante Araujo Neto</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://webdocs.cs.ualberta.ca/~mn/" target="blank">
                                                <strong>Mario A. Nascimento</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://webdocs.cs.ualberta.ca/~joerg/" target="blank">
                                                <strong>Joerg Sander</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.newcastle.edu.au/profile/ricardo-campello" target="blank">
                                                <strong>Ricargo J. G. B. Campello<sup><a href="#fn1" id="ref1">*</a></sup></strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://csabanagy.ca" target="blank">
                                                <strong>Csaba Nagy</strong>
                                            </a>
                                        </li>
                                    </ul>
                                    <br>
                                    <sup id="fn1">* This work has been developed while Ricardo J. G. B. Campello was with James Cook University.<a href="#ref1">↩</a></sup>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ABOUT MODAL -->


        <!-- Modal -->
        <div class="modal" id="reach-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div id="myreach" class="modal-dialog modal-lg modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <!-- <p class="pull-left nopadding-b">Full Reachabillity</p> -->
                        <div class="dropdown inline">
                            <span>
                                <a class="full-reach-arrow" data-val="-1" href="#">
                                    <i class="lnr lnr-chevron-left pad-r"></i>
                                </a>
                            </span>
                            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button">
                                <h5 class="modal-title inline">
                                </h5>
                            </a>
                            <span>
                                <a class="full-reach-arrow" data-val="1" href="#">
                                    <i class="lnr lnr-chevron-right pad-l"></i>
                                </a>
                            </span>
                            <ul class="dropdown-menu scrollable-menu dropdown-menu-left">
                            </ul>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body grad">
                        <div id="full-reach">
                            <div class="row">
                                <div id="full-plot" class="col-md-10"></div>
                                <div id="full-options" class="col-md-2 scroller padding-top-30">
                                    <form class="well" id="full-settings">
                                        <input type="submit" class="hidden">
                                        <div class="strike">
                                            <span>Settings</span>
                                        </div>
                                        <div class="form-group hidden">

                                            <h5 data-inf="param" data-val="domain">
                                                <i class="fas fa-info-circle"></i>
                                            </h5>

                                            <div class="row">
                                                <div class="col-xs-6 nopadding-r">
                                                    <h5 id="full-domain-in">
                                                        <strong>Start:</strong>
                                                        <span></span>
                                                    </h5>
                                                </div>
                                                <div class="col-xs-6 nopadding-l">
                                                    <h5 id="full-domain-out">
                                                        <strong>End: </strong>
                                                        <span></span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group hidden">
                                            <h5 data-inf="param" data-val="yAxes">
                                                <i class="fas fa-info-circle"></i>
                                            </h5>
                                            <div class="row">
                                                <div class="col-xs-12">

                                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                        <div class="btn-group-sm btn-group">
                                                            <button type="button" class="btn btn-default active">Auto</button>
                                                        </div>
                                                        <div class="btn-group-sm btn-group">
                                                            <button type="button" class="btn btn-default">Max</button>
                                                        </div>
                                                        <div class="btn-group-sm btn-group">
                                                            <button type="button" class="btn btn-default">Manual</button>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 pad-t">
                                                    <input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h5 data-inf="param" data-val="yAxes">
                                                <i class="fas fa-info-circle hidden"></i>
                                            </h5>
                                            <input type="range" id="full-y-scale" min="0.05" max="1.0" step="0.05">
                                        </div>
                                        <div class="form-group">
                                            <h5 data-inf="param" data-val="barWidth">
                                                <i class="fas fa-info-circle hidden"></i>
                                            </h5>
                                            <input type="range" id="full-bar-width" min="4" max="14" step="1" value="6">
                                        </div>

                                        <div class="strike">
                                            <span>Stats</span>
                                        </div>

                                        <div class="form-group">
                                            <!-- <h5 data-inf="stats" data-val="points">
                                                <i class="fas fa-info-circle"></i>
                                                <strong></strong>
                                                <span></span>
                                            </h5> -->
                                            <h5 data-inf="stats" data-val="clusters">
                                                <i class="fas fa-info-circle hidden"></i>
                                                <strong></strong>
                                                <span></span>
                                            </h5>
                                            <!-- <h5 data-inf="stats" data-val="smplWindow">
                                                <i class="fas fa-info-circle"></i>
                                                <strong></strong>
                                                <span></span>
                                            </h5>
                                            <h5 data-inf="stats" data-val="smplPoints">
                                                <i class="fas fa-info-circle"></i>
                                                <strong></strong>
                                                <span></span>
                                            </h5>
                                            <h5 data-inf="stats" data-val="zoom">
                                                <i class="fas fa-info-circle"></i>
                                                <strong></strong>
                                                <span></span>
                                            </h5>
                                            <h5 data-inf="stats" data-val="resolution">
                                                <i class="fas fa-info-circle"></i>
                                                <strong></strong>
                                                <span></span>
                                            </h5> -->

                                        </div>

                                    </form>
                                    <div class="well">
                                        <div class="strike">
                                            <span>Data</span>
                                        </div>
                                        <div class="tooltip-region pad-t">
                                            <a id="tip-color" class="btn btn-lg btn-block"></a>
                                            <br>
                                            <div class="tip-data"></div>
                                            <br>
                                            <div class="strike">
                                                <span>Labels</span>
                                            </div>
                                            <div class="tip-values"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer hidden">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top grad">
            <div class="text-center clearfix">
                <div class="navbar-btn no-margin pad-l">
                    <button type="button" class="btn-toggle-fullwidth">
                        <i class="lnr lnr-menu"></i>
                    </button>
                </div>
                <div class="branding">
                    <h1 class="text-center brand-block">
                        MustaCHE</h1>
                    <img src="{{ url_for('static', filename='img/Mustache_Logo_SVG_black.svg') }}" class="brand-logo">
                </div>

                <div id="navbar-menu" class="pad-r hidden">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown hidden">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-warning"></span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li>
                                    <a href="#" class="notification-item">
                                        <span class="dot bg-warning"></span>System space is almost full</a>
                                </li>
                                <li>
                                    <a href="#" class="notification-item">
                                        <span class="dot bg-danger"></span>You have 9 unfinished tasks</a>
                                </li>
                                <li>
                                    <a href="#" class="notification-item">
                                        <span class="dot bg-success"></span>Monthly report is available</a>
                                </li>
                                <li>
                                    <a href="#" class="notification-item">
                                        <span class="dot bg-warning"></span>Weekly meeting in 1 hour</a>
                                </li>
                                <li>
                                    <a href="#" class="notification-item">
                                        <span class="dot bg-success"></span>Your request has been approved</a>
                                </li>
                                <li>
                                    <a href="#" class="more">See all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span></span>
                                <i class="lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span></span>
                                        <i class="ti ti-github"></i>GitHub</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span></span>
                                        <i class="ti ti-info-alt"></i>About</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <nav class="side-nav">
                <ul class="nav" id="sidebar-nav-menu">
                    <li class="menu-group">Main</li>
                    <li class="panel">
                        <a href="{{ url_for('home.index') }}" data-parent="#sidebar-nav-menu" class="collapsed">
                            <img src="{{ url_for('static', filename='img/pie-chart-2.svg') }}" class="side-icon" />
                            <span class="title">Datasets</span>
                            <!-- <i class="icon-submenu ti-angle-left"></i> -->
                        </a>
                        <div id="main">
                        </div>
                    </li>
                    <li class="panel">
                        <a href="#globalSettings" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed">
                            <img src="{{ url_for('static', filename='img/settings.svg') }}" class="side-icon" />
                            <span class="title">Global Settings</span>
                            <i class="icon-submenu ti-angle-left"></i>
                        </a>
                        <div id="globalSettings" class="collapse">
                            <ul class="submenu">
                                <li id="colorTheme">
                                    <a>
                                        <p>Color Theme:</p>
                                        <select class="form-control input-sm">
                                        </select>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-group">Panels</li>
                    <li class="panel">
                        <a href="#settingsDendrogram" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed">
                            <img src="{{ url_for('static', filename='img/diagram.svg') }}" class="side-icon" />
                            <span class="title">Dendrogram</span>
                            <i class="icon-submenu ti-angle-left"></i>
                        </a>
                        <div id="settingsDendrogram" class="collapse">
                            <ul class="submenu">
                                <li>
                                    <a>Y Scale:
                                        <input type="range" id="yScale">
                                    </a>
                                </li>
                                <li>
                                    <a>Node Size:
                                        <input type="range" id="nodeSize">
                                    </a>
                                </li>
                                <li>
                                    <a>Link Width:
                                        <input type="range" id="linkWidth">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="panel">
                        <a href="#settingsHai" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed">
                            <img src="{{ url_for('static', filename='img/grid-2.svg') }}" class="side-icon" />
                            <span class="title">HAI Plot</span>
                            <i class="icon-submenu ti-angle-left"></i>
                        </a>
                        <div id="settingsHai" class="collapse ">
                            <ul class="submenu">
                                <li id="colorTheme">
                                    <a>
                                        <p>Color Theme: </p>
                                        <div class="input-group-sm input-group">
                                            <label class="input-group-addon nopadding-b" title="Invert color">
                                                <input type="checkbox" id="haiInvert" checked>
                                            </label>
                                            <select class="form-control input-sm">
                                            </select>
                                        </div>

                                    </a>
                                </li>
                                <li class="hidden">
                                    <a>
                                        <div class="btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs" title="Framework for Optimal Selection of Clusters">
                                                <input type="checkbox" name="radio">
                                                <span class="ti-wand"></span>
                                            </label>
                                        </div>
                                    </a>
                                </li>
                                <li class="hidden">
                                    <a>
                                        <p>Color Theme:</p>
                                        <select class="form-control input-sm">
                                        </select>
                                    </a>
                                </li>
                            </ul>
                            </a>
                    </li>
                    <li class="panel">
                        <a href="#settingsReach" data-toggle="collapse" data-parent="#sidebar-nav-menu" class="collapsed">
                            <img src="{{ url_for('static', filename='img/area-chart.svg') }}" class="side-icon" />
                            <span class="title">Reachabillity</span>
                            <i class="icon-submenu ti-angle-left"></i>
                        </a>
                        <div id="settingsReach" class="collapse ">
                            <ul class="submenu">
                                <li>
                                    <a>Y Scale:
                                        <input type="range" id="yScale">
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <p>Plots / page: </p>
                                        <select class="input-sm form-control" id="reach-per-pg">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option selected>4</option>
                                            <option>6</option>
                                            <option>12</option>
                                        </select>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-group spec2">Project
                        <a class="disabled spec text-capitalize">
                            <strong>Name:</strong>
                            <new id="projectTitle"></new>
                        </a>
                        <a class="disabled spec">
                            <strong>Min mpts: </strong>{{minM}}</a>
                        <a class="disabled spec">
                            <strong>Max mpts: </strong>{{maxM}}</a>
                        <a class="disabled spec text-capitalize">
                            <strong>Distance: </strong> {{dist}}</a>
                    </li>
                </ul>
            </nav>
            <div style="position: absolute; bottom: 0;">
                <nav>
                    <ul class="nav" id="sidebar-nav-menu">
                        <li class="panel">
                            <a data-parent="#sidebar-nav-menu" data-toggle="modal" href='#about-modal' class="collapsed">
                                <i class="side-icon ti ti-info-alt"></i>
                                <span class="title">About</span>
                                <!-- <i class="icon-submenu ti-angle-left"></i> -->
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="">
                    <img src="{{ url_for('static', filename='img/UA-EAC-COLOUR-REVERSE.svg') }}" class="side-logo-uofa">
                </a>
                <a href="">
                    <img src="{{ url_for('static', filename='img/newcastle-logo.png') }}" class="side-logo-newcastle">
                </a>
            </div>
            </div>
            <!-- END LEFT SIDEBAR -->



            <!-- MAIN -->
            <div class="main pad-l pad-r pad-b">
                <!-- MAIN CONTENT -->
                <div class="main-content">
                    <div class="container-fluid">

                        <div class="row" id="row-top">
                            <!-- START DENDOGRAM -->
                            <div class="col-xs-12 nopadding">
                                <div class="panel panel-default nopadding grad" id="dendogram-panel">
                                    <div class="panel-heading clearfix">
                                        <p class="pull-left">Dendrogram</p>

                                        <div class="col-xs-2 pull-left">
                                            <div class="btn-group btn-group-xs dendo-method btn-group-justified" data-toggle="buttons">
                                                <label class="btn btn-default active btn-xs" title="Framework for Optimal Selection of Clusters">
                                                    <input type="radio" name="radio" value="fosc" checked>
                                                    <span class="ti-wand"></span>
                                                </label>
                                                <label class="btn btn-default btn-xs" title="Threshold Bar">
                                                    <input type="radio" name="radio" value="bar">
                                                    <span class="ti-split-v"></span>
                                                </label>
                                                <label class="btn btn-default btn-xs" title="Manual Selection">
                                                    <input type="radio" name="radio" value="manual">
                                                    <span class="ti-hand-point-up"></span>
                                                </label>
                                            </div>

                                        </div>


                                        <div class="col-xs-2" id="dendrogramZoom">

                                            <div class="btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs">
                                                    <button type="button">
                                                        <span class="ti-zoom-in"></span>
                                                    </button>

                                                </label>
                                                <label class="btn btn-default btn-xs">
                                                    <button type="button">
                                                        <span class="ti-zoom-out"></span>
                                                    </button>
                                                </label>
                                                <label class="btn btn-default btn-xs disabled">
                                                    <button type="button" disabled>
                                                        <span id="output">100%</span>
                                                    </button>
                                                </label>
                                            </div>


                                        </div>

                                        <div class="col-xs-2 pull-left">
                                            <div class="input-group input-group-sm" id="manualThresh">
                                                <span class="input-group-addon">Threshold</span>
                                                <input class="form-control" type="number">
                                            </div>
                                        </div>

                                        <div class="right">
                                            <li class="dropdown panel-options">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="lnr lnr-download"></i>
                                                </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-body" id="panel1">

                                            <div>
                                                <div id="chart-dendrogram">
                                                </div>
                                                <input id="slider" type="range" value="50" class="hidden">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END DENDOGRAM -->
                        </div>

                        <div class="row pad-t" id="row-bottom">
                            <!-- START HAI-->
                            <div class="col-xs-3 nopadding" id="hai-panel">
                                <div class="panel panel-default nopadding grad">
                                    <div class="panel-heading clearfix">
                                        <p class="pull-left">HAI Plot</p>
                                        <div class="right">
                                            <li class="dropdown panel-options">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="lnr lnr-download"></i>
                                                </a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row nopadding">
                                            <div id="hai-plot">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer hidden">
                                        <div id="hai-legend"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END HAI -->

                            <!-- START REACHABILLITY -->
                            <div class="col-xs-9 nopadding pad-l" id="reach-panel">
                                <div class="panel panel-default nopadding grad">
                                    <div class="panel-heading clearfix">
                                        <p class="pull-left">Reachabillity Plots</p>

                                        <div class="perpg btn-group pull-right nopadding-b no-border hidden">
                                            <select class="input-sm" id="reach-per-pg">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option selected>4</option>
                                                <option>6</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                        <ul class="pagination pagination-sm pull-right nopadding nopadding-b">
                                            <li class="pg-nav" pg-val="-1">
                                                <a href="#">
                                                    <span>&laquo;</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="right hidden">
                                            <li class="dropdown panel-options">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="lnr lnr-download"></i>
                                                </a>
                                        </div>
                                    </div>
                                    <div class="panel-body nopadding">
                                        <div class="container-fluid nopadding-v nopadding-l grouper">
                                            <div class="row nopadding" id="reach-plot">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- END REACHABILLITY -->
                        </div>

                    </div>
                </div>
                <!-- END MAIN CONTENT -->
            </div>
            <!-- END MAIN -->
        </div>
        <!-- END WRAPPER -->
        <!-- Javascript -->

        <script>
            const project = "{{name}}"
            const datasetId = "{{id}}"
        </script> {% assets "dashboard_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script> {% endassets %}


</body>

</html>
