.navbar-default,
.layout-topnav .top-bar {
  background: #187fff;
  background: -moz-linear-gradient(left, #187fff 0%, #6badff 100%);
  background: -webkit-linear-gradient(left, #187fff 0%, #6badff 100%);
  background: linear-gradient(to right, #187fff 0%, #6badff 100%);
}

.navbar-form.search-form .form-control, .navbar-form.search-form .form-control:focus {
  background-color: #4c9bff;
  border-color: #69abff;
}

.navbar-form.search-form .btn {
  color: #fff;
}

.navbar-form.search-form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-form.search-form :-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-form.search-form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-form.search-form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
