.lds-rng {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-rng div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #097B43;
    animation: lds-rng 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-rng div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-rng div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-rng div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-rng {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }








  .lds-meta {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-meta div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #097B43;
    animation: lds-meta 1.2s linear infinite;
  }
  .lds-meta div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-meta div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-meta div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-meta div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-meta div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-meta div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-meta div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-meta div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-meta div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-meta {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }








  .lds-core {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-core div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background:  #097B43;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-core div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-core div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-core div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-core div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  