<!doctype html>
<html lang="en">

<head>
	<title>MustaCHE | Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> {% assets "home_css"
	%}
	<link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}

	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='icon/safari-pinned-tab.svg') }}" color="#097b43">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
	<meta name="msapplication-TileColor" content="#097b43">
	<meta name="msapplication-config" content="{{ url_for('static', filename='icon/browserconfig.xml') }}">
	<meta name="theme-color" content="#097b43">

</head>

<body class="layout-fullwidth">

	<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
		<li class="mfb-component__wrap">
			<a href="#" class="mfb-component__button--main grad">
				<i class="mfb-component__main-icon--resting ti ti-plus text-primary"></i>
				<i class="mfb-component__main-icon--active ti ti-plus text-primary"></i>
			</a>
			<ul class="mfb-component__list">

				<li>
					<a data-mfb-label="Create new dataset" class="mfb-component__button--child grad" data-toggle="modal" data-target="#addDataModal">
						<i class="mfb-component__child-icon ti ti-file text-primary"></i>
					</a>
				</li>

				<li>
					<a data-mfb-label="Import dataset from .zip" class="mfb-component__button--child grad" onclick="document.getElementById('zipInput').click();">
						<input id="zipInput" type="file" style="display:none;" accept=".zip" />
						<i class="mfb-component__child-icon ti ti-zip text-primary"></i>
					</a>
				</li>
			</ul>
		</li>
	</ul>

	<!-- WRAPPER -->
	<div id="wrapper">

		<!-- CONFIGURE WORKSPACE -->

		<!-- <a class="btn btn-primary" >Trigger modal</a> -->
		<div class="modal fade" id="workspace">

			<div class="modal-dialog">
				<form id="setWorkspace" action="/workspace" method="POST">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Settings</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" id="selectDir">Workspace Directory</button>
										</span>
										<input type="text" id="dirPath" class="form-control" value="" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>

		</div>


		<!-- END CONFIGURE WORKSPACE -->


		<!-- ADD DATASET -->
		<div class="modal fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
		 data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-center panel-title-extra js-title-step" id="exampleModalLongTitle"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="submitDataForm" action="/submit" method="POST">
						<div class="modal-body no-padding wizard">
							<div class="container-fluid">
								<div class="row hide" data-step="1" data-title="Select Dataset">
									<div class="col-md-12">
										<div class="row padding-25 no-padding-bottom no-margin-top">
											<div>
												<p>
													<strong class="text-primary">Step 1: </strong>Load a CSV file of data. </p>
											</div>
											<div class="col-md-6">
												<div class="well well-sm">
													<code>
														0.1, 0.2, 0.5, 0.9 <br>
														0.2, 0.1, 5.0, 0.2 <br>
														0.4, 0.1, 7.0, 0.8
													</code>
												</div>
											</div>

											<div class="col-md-6">
												<input type="file" name="dataset-file" class="dropify" id="file-dataset">
											</div>
										</div>
										<div class="row padding-25 no-padding-top no-margin-top disabled">
											<div>
												<p>
													<strong class="text-primary">Step 2: </strong>Load a CSV file of labels. </p>
											</div>
											<div class="col-md-6">
												<div class="well well-sm">
													<code>
                                                        Linda Stanley, Toronto<br>
                                                        Alan Jonhson, New York<br>
														Marie Dubois, Paris
                                                    </code>
												</div>
											</div>
											<div class="col-md-6">
												<input type="file" name="labels-file" class="dropify" id="file-labels">
											</div>
										</div>
									</div>
								</div>
								<div class="row hide" data-step="2" data-title="Configuration">
									<div class="row padding-25">
										<div class="col-md-12">
											<div class="form-group">
												<label>Datapoints</label>
												<input type="text" class="form-control" name="datasetPoints" readonly>
											</div>
											<div class="form-group">
												<label>Dataset Name</label>
												<input type="text" class="form-control" name="datasetName" data-validation="length" data-validation-length="5-150">
											</div>
											<div class="form-group">
												<label>Distance</label>
												<select class="form-control" name="datasetDistance" data-validation="length" data-validation-length="min1">
												</select>
											</div>
											<div class="form-group">
												<label>RNG</label>
												<select class="form-control" name="datasetRng" data-validation="length" data-validation-length="min1">
												</select>
											</div>
											<div class="form-group col-xs-6 nopadding-l">
												<label>Min Mpts</label>
												<input type="number" class="form-control" name="datasetMinMpts" value=2 data-validation="number" data-validation-allowing="range[2;100]">
											</div>
											<div class="form-group col-xs-6 nopadding-r">
												<label>Max Mpts</label>
												<input type="number" class="form-control" name="datasetMaxMpts" data-validation="number" data-validation-allowing="range[1;100]">
											</div>
											<div class="form-group col-xs-12 nopadding-l nopadding-r">
												<label>Min Cluster Size</label>
												<input type="number" class="form-control" name="datasetMinCluster" value=1 data-validation="number" data-validation-allowing="range[1;100]">
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
							<button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
							<button type="button" class="btn btn-success js-btn-step" id="next1" data-orientation="next"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END ADD DATASET -->

		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top grad">
			<div class="text-center clearfix">
				<div class="navbar-btn no-margin pad-l">
					<button type="button" class="btn-toggle-fullwidth" disabled>
						<i class="lnr lnr-menu"></i>
					</button>
				</div>
				<div class="branding">
					<h1 class="text-center brand-block">
						MustaCHE</h1>
					<img src="{{ url_for('static', filename='img/Mustache_Logo_SVG_black.svg') }}" class="brand-logo">
				</div>

				<div id="navbar-menu" class="pad-r">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="modal" data-target="#workspace">
								<i class="lnr lnr-cog"></i>
								<span class="badge bg-warning"></span>
							</a>
						</li>
					</ul>
				</div>

				<form class="navbar-form navbar-right search-form margin-r margin-t">
					<input type="text" value="" class="form-control" placeholder="Search datasets..." id="dsearch">
					<button type="button" class="btn btn-default" data-toggle="modal" href='#workspace'>
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->

		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content padding-top-30">
				<div class="container-fluid">
					<div class="row">
						{% for id, dataset in datasets.items() %}
						<!-- DATASETS -->
						{% if dataset['state']['stage'] == 'done' %}
						<div class="col-md-3 dataset" id="{{id}}" data-processed="true">
							<div class="panel panel-default project-item grad">
								<div class="panel-heading">
									<p class="panel-title">{{ dataset['datasetName'] }}</p>
								</div>
								<div class="panel-body">
									<div class="left">
										<div class="info">
											<span class="title">DATE ADDED</span>
											<span class="value">{{ dataset['date_added'] | datetime }}</span>
										</div>
										<div class="info">
											<span class="title">DISTANCE</span>
											<span class="value">{{ dataset['datasetDistance'].upper() }}</span>
										</div>
										<div class="info">
											<span class="title">RNG</span>
											<span class="value">{{ dataset['datasetRng'].upper() }}</span>
										</div>
										<div class="info">
											<span class="title">MPTS MIN/MAX</span>
											<span class="value">{{ dataset['datasetMinMpts'] }}/{{ dataset['datasetMaxMpts'] }}</span>
										</div>
									</div>
									<div class="left">
										<div class="info">
											<span class="title">POINTS</span>
											<span class="value">{{ dataset['datasetPoints'] }}</span>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="controls">
										<button data-val="launch" onclick="location.href='/dashboard/{{id}}';" class="btn btn-primary pull-right">
											<i class="fa fa-area-chart"></i>OPEN</button>
										<a href="#" data-val="zip" class="disabled">
											<i class="fa fa-file-archive-o"></i>Export Zip</a>
										<a href="#" class="btn-sw-confirmation" data-val="{{id}}">
											<i class="fa fa-trash"></i>Delete</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<div class="col-md-3 dataset" id="{{id}}" data-processed="false">
							<div class="panel panel-default project-item grad">
								<div class="panel-heading">
									<p class="panel-title">{{ dataset['datasetName'] }}</p>
									<div class="right">
										<span class="label label-default stage"></span>
									</div>
								</div>
								<div class="panel-body">
									<div class="left">
										<div class="info">
											<span class="title">DATE ADDED</span>
											<span class="value">{{ dataset['date_added'] | datetime }}</span>
										</div>
										<div class="info">
											<span class="title">DISTANCE</span>
											<span class="value">{{ dataset['datasetDistance'].upper() }}</span>
										</div>
										<div class="info">
											<span class="title">RNG</span>
											<span class="value">{{ dataset['datasetRng'].upper() }}</span>
										</div>
										<div class="info">
											<span class="title">MPTS MIN/MAX</span>
											<span class="value">{{ dataset['datasetMinMpts'] }}/{{ dataset['datasetMaxMpts'] }}</span>
										</div>
									</div>
									<div class="left">
										<div class="info">
											<span class="title">POINTS</span>
											<span class="value">{{ dataset['datasetPoints'] }}</span>
										</div>
									</div>
									<div class="right">
										<div class="progress-chart easy-pie-chart hidden" data-percent="0">
											<span class="percent hidden"></span>
										</div>
										<div class="lds-rng lds hidden">
											<div></div>
											<div></div>
											<div></div>
										</div>
										<div class="lds-meta lds hidden">
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
										</div>
										<div class="lds-core lds hidden">
											<div></div>
											<div></div>
											<div></div>
											<div></div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="task right">
										<div class="task-progress stage-message"></div>
									</div>
									<!-- <div class="clearfix"></div> -->
									<div class="controls">
										<button data-val="launch" onclick="location.href='/dashboard/{{id}}';" class="btn btn-primary pull-right" disabled>
											<i class="fa fa-area-chart"></i>OPEN</button>
										<a href="#" data-val="zip" class="hidden">
											<i class="fa fa-file-archive-o"></i>Export Zip</a>
										<a href="#" class="btn-sw-confirmation hidden" data-val="{{id}}">
											<i class="fa fa-trash"></i>Delete</a>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						<!-- END DATASETS -->
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->

	{% assets "home_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script> {% endassets %}

	<script>
		$(function () {
			$('.progress-chart').easyPieChart({
				size: 110,
				barColor: '#45AEEF',
				trackColor: 'rgba(160, 174, 186, .2)',
				scaleColor: false,
				lineWidth: 6,
				lineCap: "round",
				animate: 800
			});
		});
	</script>
</body>

</html>
